
*.par
*.log
*.lst
*.lxi
*.gdx
*.xlsx
*.~gm
*.gpr
*.~da
*.~in
*.sublime-project
*.sublime-workspace
*.g00
*.csv
*.rds
*.imp
*.pdf
*.xls
*.exe
*.lic
*.xlsm
*.ans
*.7z
Other Tools/*
SATM/*
satimviz/*
*.bat
*.gch
GDXout/*
*.opt
*.CMD
satimviz/

CGE_SANEDI_Transport/

Tableau/

RDSFiles/Archive/

*.rar

*.zip

*.twb

Links/2012 SAM/

Links/store/

Links/eSAM builder/desktop\.ini

*.~xl

*.png

CGE_faaiqa/

CGE_hh/

CGE_hh\+transport/

Coal Supply/

private transport/

Tableau_FDM/

Tableau2/

225a/

CGE/includes/2simulation_loop_wEVadjust.inc
