
*.par
*.log
*.lst
*.lxi
*.gdx
*.xlsx
*.~gm
*.gpr
*.~da
*.~in
*.sublime-project
*.sublime-workspace
*.g00
*.csv
*.rds
*.imp
*.pdf
*.xls
*.exe
*.lic
*.xlsm
*.ans
*.7z
Other Tools/*
SATM/*
Links/*
satimviz/*
*.bat
*.gch
GDXout/*
*.opt
*.CMD
satimviz/

CGE_SANEDI_Transport/

Tableau/

RDSFiles/Archive/

*.rar

*.zip

*.twb
